@import "messageTabPanel.css";

body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  margin: 20px 20px 20px 20px;
}

.imageTable {  
	background-image: url(logo_90px.jpg);
	height: 90px; 
	background-repeat: no-repeat; 
	background-position: left;
}

.headline {
	font-size:12pt;
	background-color:#705132;
	color:white;
	border: 1px solid #705132;
	padding:3px;
	margin-bottom:8px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.headlineConceptSearchBar {
	font-size:12pt;
	background-color:#705132;
	color:white;
	padding:3px;
	margin-bottom:8px;

}

.headlineConceptSearch {
	font-size:12pt;
	background-color:#705132;
	color:white;
	padding:0px;
}

.headlineChat {
	font-size:12pt;
	background-color:#705132;
	color:white;
	padding:3px;
	margin-bottom:8px;
}

.editConceptPanel {
	margin-top:8px;
	margin-left:8px;
	margin-right:8px;
	height: 650px;
	width: 320px;
	
}

.conceptDetailsBorderedPanel {
	margin-top:8px;	
	border: 2px solid #705132;
	font-size:8pt;
	color: #705132;
	padding: 3px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}


.labelLanguageComponent {
	border: 1px solid #ac7e53;
	margin-bottom: 3px;
	width: 315px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-o-border-radius: 5px;
}

.language{
	font-size:8pt;
	color: #ac7e53; 
}

.labelHTML{
	width: 250px; 
	font-size: 10pt;
}

.relationComponent {
	border: 1px solid #ac7e53;
	margin-bottom: 3px;
	width: 315px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-o-border-radius: 5px;
}

.inputPanel {
	width: 315px;
	margin-top: 3px;
}

.relationHTML {
	width: 250px;
	font-size: 10pt;
}
.relationHTML-italic{
	font-style:italic;
}

.relationHTML a:link { color:black; text-decoration:underline; }
.relationHTML a:visited { color:black; text-decoration:underline; }
.relationHTML a:focus { }
.relationHTML a:hover { }
.relationHTML a:active { }

.conceptDetailsTabPanel{
	margin-top:8px;
	margin-left:8px;
	margin-right:8px;
	height: 650px;
	width: 330px;
}

.taxonomyPanel {
	margin-top:8px;
	height: 650px;
	width: 260px;
	border: 1px solid #705132;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-o-border-radius: 5px;
}

.buttonPanel {
	margin-top:8px;
	margin-bottom:8px;
}




.chatPanel {
	background-color: #ffeec1;
	width: 250px;
	height: 650px;
	-moz-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}

.systemMessagePanel {
	width: 250px;
	height: 650px;
}

.chatMessagePanel {
	background-color: #ffeec1;
	width: 250px;
	height: 550px;
}
	
.chatMessage {
	margin: 3px 1px 3px 12px;
	text-indent: -10px;
	font-size:10pt;
	width: 230px;
}

.chatMessageOwn {
	margin: 3px 1px 3px 12px;
	text-indent: -10px;
	font-size:10pt;
	color: #9E9E9E;
	width: 230px;
}


.explanationLabel{
	font-size:8pt;
	color:#969696;
}

.myform {  
   width: 300px
 }

code {
  font-size: small;
}

.gwt-BorderedPanel {
}

.gwt-Button {
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DialogBox {
  sborder: 8px solid #705132;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #ac7e53;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #705132;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #705132;
}

.gwt-HTML {
  font-size: 10pt;
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-size: 10pt;
}

.gwt-ListBox {
}

.gwt-MenuBar {
  background-color: #705132;
  border: 1px solid #705132;
  cursor: default;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: 10pt;
  color: white;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #ffeec1;
  color: #705132;
}

.gwt-MenuBarPopup {
  margin: 0px 0px 0px 3px;
  border: 1px solid #ffeec1; 
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: 10pt;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
  cursor: hand;
  cursor: pointer;
}

.gwt-TreeItem {	
  font-size: 10pt;
  cursor: hand;
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;  
}

.gwt-TreeLabelItalic {
	font-style:italic; 
	background-color:inherit;
}

.gwt-TreeLabel {
	background-color:inherit;
}

.gwt-TreeItem-selected {
  font-size: 10pt;
  background-color: #ffeec1;
}

.dnd-floatingItem {
	font-size: 8pt;
}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #ffeec1;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  border: 8px solid #ac7e53;
  background-color: #ffeec1;
  width: 100%;
  height: 24em;
}

.ks-Info {
  background-color: #ffeec1;
  padding: 10px 10px 2px 10px;
  font-size: smaller;
}

.ks-List {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #ffeec1;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #ffeec1;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #ffeec1;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #705132;
  padding: 4px;
  width: 250px;
}

.infoProse {
  margin: 8px;
}

 .gwt-SuggestBox {
   text-align: left;
   width: 400px;
   font-size: smaller;
   font-weight: normal;
}

.gwt-SuggestBoxPopup {
   background-color: #FFFFFF;
   border-top: 0;
   border: 2px solid #ffeec1;
   cursor: pointer;
   cursor: hand;
   text-align: left;
   font-size: smaller;
}

.gwt-SuggestBoxPopup .item {
   padding: 2px;
   font-size: smaller;

}

.gwt-SuggestBoxPopup .item-selected {
   background-color: #ffeec1;
   padding: 2px;
   font-size: smaller;

} 


