
/* *************************************************
Taxonomy 
**************************************************** */
div.rootConceptLinks {
	  margin-left: 10px;
}


div.conceptNameBox {
	margin:15px 0 15px 0;
	padding:6px;
	background-color: #705132; 
	color:white;
	border: 2px solid #705132;
	vertical-align:top;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}	

div.conceptName {
	font-size:24px;
	font-weight:bold;
	vertical-align:top;
}

div.conceptName img {
  float:right;
  border-style:none;
  vertical-align:top;
}


td.conceptRelationTitle {
	font-size:14px;
	font-weight:bold;
	margin: 0 0 5px 0;
	background-color: #705132; 
	color:white;
	padding:2px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

table.layoutTable {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

tr.layoutTable {
	padding: 0px;
	margin: 0px;
}


td.conceptRelation {
	font-size:12px;
	background-color: #DEE1E3;
	padding:2px;
	-moz-border-radius: 0px 0px 5px 5px;
    -khtml-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
}

div.documentsTitle {
	font-size:14px;
	font-weight:bold;
	margin: 15px 0 15px 0;
	background-color: #705132; 
	color:white;
	padding:2px;
	-moz-border-radius: 5px 5px 0px 0px;
	-khtml-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-o-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

div.documentsTitle a{
	color:white;
	text-decoration:none;
}

img.header {
	padding: 2px;
}

/* *************************************************
Search
**************************************************** */
div.searchNote {
  margin:2px;
  width: 100%;
  background-color:#F5F5F5;
}


div.ratingArea {
  margin:0px;
  width: 116px;
  background-color:#F5F5F5;
  float:left;
}

div.searchResultBox {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0px;
  white-space:normal;
}


div.searchResultBox a {
  color: #ac7e53;
}

div.searchResultBox a:link {
  color: #705132;
}

div.searchResultBox a:visited {
  color: #705132;
}


div.searchResultBox a.doctitle {
  color: #705132;
  font-size:130%;
  font-weight:bold;
  white-space:normal;
  padding-right: 20px;
}

div.searchResultBox a.conlink {
  color: #ac7e53;
  white-space:normal;
  padding-right: 7px;
}


div.searchResultBox div.docurl {
  color:grey;
  font-size:smaller;
  white-space:normal;
}

div.searchResultBox div.highlightBox {
	white-space:normal;
}

a {
  color: #ac7e53;
}

a:visited {
  color: #ac7e53;
}

div.searchPeopleResultBox {
  padding: 3px 3px 3px 3px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;  
  white-space:normal;
  background-color: #ffeec1;
  border: 1px solid #ac7e53;
  	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-o-border-radius: 5px;
}

div.searchPeopleResultBox a {
  color: #705132;
}

div.searchPeopleResultBox a:link {
  color: #705132;
}

div.searchPeopleResultBox a:visited {
  color: #705132;
}


div.searchPeopleResultBox a.doctitle {
  color: #ac7e53;
  font-size:130%;
  font-weight:bold;
}

div.searchPeopleResultBox a.conlink {
  color: #ac7e53;
}


div.searchPeopleResultBox div.docurl {
  color:grey;
  font-size:smaller;
}

div.searchPeopleResultBox span.fullname {
  color: #705132;
  font-size:130%;
  font-weight:bold;
  vertical-align:top;
}

div.searchPeopleResultBox span.fullname a{
  text-decoration: none;
}

div.searchPeopleResultBox div.docurl a.annotateLink {
  float:right;
}


div.searchPeopleResultBox img {
  float:left;
  padding-right:5px;
  max-width:30px;
  max-height:40px;
}

div.searchPeopleResultBox span.user {
	min-width:40px;
	min-height:60px;
	vertical-align:middle;
}



img#tag {
	border-width: 0px;
	height: 21px;
	width: 26px;
	position: absolute;
	margin-left: 5px;
}

img#tag2 {
	border-width: 0px;
	height: 21px;
	width: 26px;
	position: absolute;
	margin-right: 15px;
	margin-left: 5px;
}

img#tag3 {
	border-width: 0px;
	height: 21px;
	width: 26px;
	position: absolute;
	margin-left: 5px;
}

div.cloud {
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
	text-align: center;
	background-color: #ffeec1;
}

div.cloud a.concept {
  color: #705132;
  text-decoration:none;
  margin-right: 10px;
  font-weight:bold;
  white-space:nowrap;
}

div#annotateLink {
	padding: 0px 5px 5px 10px;
	font-size: 12px;
	height:26px;
	background-color: #ffeec1;
}

div.pageLinks li{
  color: #ac7e53;
  padding-top: 10px;
  padding-right: 10px;
}

div.pageLinks li a {
  color: #ac7e53; 
}

