body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin: 20px 20px 20px 20px;
}

.imageTable {  
	background-image: url(../images/logo_90px.jpg); 
	height: 90px; 
	background-repeat: no-repeat; 
	background-position: left;
}

.myform {  
   width: 300px
 }

div.myline { 
	background-color: #C3D9FF;
	display: block;
	height: 1px;
	width: 100%;
}

div.welcomeBox {
  margin-top: 10px;
  margin-left: 10px;
  border: 0px;
}

div.welcomeBox div.welcome {
  font-size: larger;
}

div.welcomeBox div.about {
  font-size: smaller;
}

/* *************************************************
Login
**************************************************** */

.loginBox{
	sborder: 8px solid #C3D9FF;
  	border: 2px outset;
  	background-color: white;
  	width: 240px;
}

td.loginTitle{
	background-color: #C3D9FF;
  	padding: 3px;
  	margin: 2px;
  	font-weight: bold;
}

td.loginFeedback{
	font-size: smaller;
}

label.loginLabel{
	font-size: smaller;
}


/* *************************************************
Taxonomy 
**************************************************** */
div.rootConceptLinks {
	  margin-left: 10px;
}


div.conceptNameBox {
	margin:15px 0 15px 0;
	padding:6px;
	width:100%;
	background-color: #1F61A1; 
	color:white;
	border: 2px solid #22588A;
}	

div.conceptName {
	font-size:24px;
	font-weight:bold;
}

td.conceptRelationTitle {
	font-size:14px;
	font-weight:bold;
	margin: 0 0 5px 0;
	background-color: #1F61A1; 
	color:white;
	padding:2px;
}

table.layoutTable {
	padding: 0px;
	margin: 0px;
	border: 0px:
}

tr.layoutTable {
	padding: 0px;
	margin: 0px;
}


td.conceptRelation {
	font-size:12px;
	background-color: #DEE1E3;
	padding:2px;
}

div.documentsTitle {
	font-size:14px;
	font-weight:bold;
	margin: 15px 0 15px 0;
	background-color: #1F61A1; 
	color:white;
	padding:2px;
}

img.header {
	padding: 2px;
}

/* *************************************************
Search
**************************************************** */
div.searchNote {
  margin:2px;
  width: 100%;
  background-color:#F5F5F5;
}

div.searchResultBox {
  font-size: 12px;
  margin-top: 10px;
  margin-left: 10px;
  border: 0px;
}


div.searchResultBox a {
  color: darkblue;
}

div.searchResultBox a:link {
  color: blue;
}

div.searchResultBox a:visited {
  color: blue;
}


div.searchResultBox a.doctitle {
  color: blue;
  font-size:130%;
  font-weight:bold;
}

div.searchResultBox a.conlink {
  color:darkblue;
}


div.searchResultBox div.docurl {
  color:grey;
  font-size:very-small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

