body {
  padding: 0;
  margin: 0;
  font-family:Arial,Helvetica,sans-serif;
}

a:link { color:#705132; text-decoration:underline; }
a:visited { color:#705132; text-decoration:underline; }
a:focus { }
a:hover { text-decoration:none; }
a:active {color:#ac7e53; text-decoration:underline;}

h1 { color:#705132}
h2 { color:#705132}
h3 { color:#705132}
h4 { color:#705132}
h5 { color:#705132}

.img-tile {	
  padding: 0;
  margin: 0;
}

#topbar{
	width:100%;
	margin: 0; padding: 0;
	background-image:url(../images/top-bar-right.png);
	background-repeat:repeat;
}

#lionFeed{
   margin: 0; padding: 0;
   position: absolute; top:85px; left:0px;
}

#menuBarColor{
   margin:0; padding:0; 
   position:absolute; top:85px; left:0px;
   background-color: #ffeec1;
   width:100%; height:52px;   
}

#menuBar {
   color: #705132;
   margin:0; padding:0; 
   position:absolute; top:0; left:141px;
   width:auto;   
   font-size:12pt;
   padding:3px 0px 3px 0px;
}

div#menuBar div {
	clear:left;
}

  ul#Navigation {
    margin: 0; padding: 0;
    text-align: left;
  }

  ul#Navigation li {
    list-style: none;
    float: left;
    position: relative;
    margin: 0.2em; padding: 0;
  }
  * html ul#Navigation li {  /* Korrektur fuer den IE 5 und 6 */
    margin-bottom: -0.2em;
  }
  *:first-child+html ul#Navigation li {  /* Korrektur fuer den IE 7 */
    margin-bottom: -0.1em;
  }

  ul#Navigation li ul {
    margin: 0; padding: 0;
    position: relative;
    left: -0.2em;
  }
  * html ul#Navigation li ul {  /* Korrektur fuer IE 5.x */
    left: -1.5em;
    lef\t: -0.2em;
  }
  ul#Navigation li ul li {
    float: none;
    display: block;
    margin-bottom: 0.2em;
  }



#content {
   width:700px;
   margin:0px 10px 10px 141px;
   padding-top: 60px;
   text-align:justify;
}