
.warning{
  color:red;
}

table.form {
  margin: 10px 0px 10px 0px;
  font-size: 11pt;
}

table.form tr td.label{
  vertical-align: top;
  font-weight: bold;
  height:22px;
  width:200px
}
