div.autocomplete ul {
	margin:0px;
	padding:0px;
}
div.autocomplete ul li.selected { 
	background-color: #ffb;
}
div.autocomplete ul li {
	display:block;
	list-style-type:none;
	cursor:pointer;
}
#loadingImg {
	display:none;
}

