<jsp:root xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:my="urn:jsptagdir:/WEB-INF/tags">

	<jsp:directive.page language="java"
		contentType="text/html; charset=utf-8" pageEncoding="UTF-8"
		isELIgnored="false"
		/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.1//EN"
		doctype-system="http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd" />

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="gwt:property" content="locale=${userLang}" />
		<link rel='stylesheet' href='${pageContext.request.contextPath}/style/style.css' />
		<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/dstyle.css" />
		<link rel='stylesheet'
			href='${pageContext.request.contextPath}/style/browse.css' />
		<link rel='stylesheet'
			href='${pageContext.request.contextPath}/style/soboleo-base.css' />

		<title>${title.welcome}</title>
		<![CDATA[<script src="${pageContext.request.contextPath}/js/prototype.js" type="text/javascript" ></script>]]>
		<![CDATA[<script src="${pageContext.request.contextPath}/js/scriptaculous.js?load=effects,controls" type="text/javascript" ></script>]]>
		
	</head>
<body>

	<my:pageheader />

	<div id="content">
		<form action="${pageContext.request.contextPath}/search" method="POST">
			<div>
				<input style="width: 300px" id="searchEntry" type="text" name="searchEntry" autocomplete="off" />
				<img src="${pageContext.request.contextPath}/img/ajaxload.gif" alt="" id="loadingImg" />
				<div id="destinationDiv" class="autocomplete"></div>
		
				<input type="hidden" name="searchSite" value="index"/>
				<input type="submit" value='${sessionScope["home.searchButtonLabel"]}' />
			</div>
		</form>

<script type="text/javascript">//<![CDATA[
new Ajax.Autocompleter('searchEntry','destinationDiv','/autocomplete', {
	indicator: 'loadingImg'
});
//]]></script>


		<table class="layoutTable" width="95%" style="margin-left: auto; margin-right: auto;">
			<tr>
			<td>
				<div class='welcomeBox'>
					<div class='welcome'><b>${sessionScope["home.welcome"]}</b>! </div>
					<br /><br />
			
					${sessionScope["home.introduction"]}
						<ul>
							<li>${sessionScope["home.search"]}</li>
							<li>${sessionScope["home.browse"]} </li>
							<li>${sessionScope["home.annotate"]} </li>
							<li>${sessionScope["home.edit"]} </li>
					    </ul>
			
					${sessionScope["home.details"]}
				</div>
			</td>
			</tr>
		</table>

	</div>
<script language="javascript">
onload = document.searchForm.searchEntry.focus(); 
</script>

</body>
</html>
</jsp:root>