body { 
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin: 20px 20px 20px 20px;
}

.imageTable {  
	background-image: url(logo-small.png); 
	height:66px; 
	background-repeat: no-repeat; 
	background-position: left;
	padding: 0px;
}

.myform {  
   width: 300px
 }

code {
  font-size: small;
}

a {
  color: darkblue;
}

a:visited {
  color: darkblue;
}

.peopleNameEmail{
	font-family:  Arial, sans-serif;
	font-size: smaller;
	color: #705132;
	cursor: default;
}

.gwtLabelAnnotate{
	font-family:  Arial, sans-serif;
	font-weight: bold;
	font-size: smaller;
	color: #705132;
	cursor: default;
	}
.otherManualTagsPanel{
	float: left;
	cursor: default;		
	}
.myTopicsPannel{
	cursor: default;
	}
	
.gwt-BorderedPanel {
}

.gwt-Button {
}

.gwt-Canvas {
}

.gwt-CheckBox {
  font-size: smaller;
}

.gwt-DeleteButton {
	border: 0px, none;
	background-color: white;
	font-family: Arial, sans-serif;
	color: #705132;
	}

.gwt-DialogBox {
  sborder: 8px solid #C3D9FF;
  border: 2px outset;
  background-color: white;
}

.gwt-DialogBox .Caption {
  background-color: #C3D9FF;
  padding: 3px;
  margin: 2px;
  font-weight: bold;
  cursor: default;
}

.gwt-FileUpload {
}

.gwt-Frame {
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #C3D9FF;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #C3D9FF;
}

.gwt-HTML {
  font-size: smaller;
  font-weight: bold;
  
}

.gwt-Hyperlink {
}

.gwt-Image {
}

.gwt-Label {
  font-size: smaller;
}

.gwt-myTopicsCaptionPanel {
	font-family: Arial, sans-serif;
	font-size: smaller;
  	font-weight: bold;
	color: #705132;
	border: 1px solid #705132;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
  	cursor: default;
  	min-height: 75px;
	}
.gwt-peoplesTopicsCaptionPanel {
	border: 1px solid #705132;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
  	font-family: Arial, sans-serif;
  	color: #705132;
  	font-size: smaller;
  	font-weight: bold;
  	cursor: default;
  	min-height: 75px;
	}
	
.gwt-MenuBar {
  background-color: #C3D9FF;
  border: 1px solid #87B3FF;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem {
  padding: 1px 4px 1px 4px;
  font-size: smaller;
  cursor: default;
}

.gwt-MenuBar .gwt-MenuItem-selected {
  background-color: #E8EEF7;
}

.gwt-PasswordTextBox {
}

.gwt-RadioButton {
  font-size: smaller;
}

.gwt-TabPanel {
}

.gwt-TabPanelBottom {
  border-left: 1px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 3px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 3px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 1px solid #C3D9FF;
  border-bottom: 1px solid #87B3FF;
  padding: 2px;
  cursor: pointer;
  cursor: hand;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 1px solid #87B3FF;
  border-left: 1px solid #87B3FF;
  border-right: 1px solid #87B3FF;
  border-bottom: 1px solid #E8EEF7;
  padding: 2px;
  cursor: default;
}

.gwt-TextArea {
}

.gwt-TextBox {
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}
.gwt-topicLabel {
	background-color: #FFFFFF;
	font-family: Arial, sans-serif;
	color: #705132;
  	font-size: smaller;
  	cursor: default;
	}
.gwt-topicLabelOver {
	background-color: #FFEEC1;
	font-family: Arial, sans-serif;
	color: #705132;
  	font-size: smaller;
  	cursor: pointer;
	}
.gwt-topicLinkLabel {
	background-color: #FFFFFF;
	font-family: Arial, sans-serif;
	color: #705132;
  	font-size: smaller;
  	cursor: default;
	}
.gwt-topicLinkLabelOver {
	background-color: #FFEEC1;
	font-family: Arial, sans-serif;
	color: #705132;
  	font-size: smaller;
  	cursor: default;
	}

.gwt-StackPanel {
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: #C3D9FF;
  cursor: pointer;
  cursor: hand;
}

.gwt-StackPanel .gwt-StackPanelItem-selected {
}

/* -------------------------------------------------------------------------- */
.ks-Sink {
  border: 8px solid #C3D9FF;
  background-color: #E8EEF7;
  width: 100%;
  height: 24em;
}

.ks-Info {
  background-color: #C3D9FF;
  padding: 10px 10px 2px 10px;
  font-size: smaller;
}

.ks-List {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: smaller;
}

.ks-List .ks-SinkItem {
  width: 100%;
  padding: 0.3em;
  padding-right: 16px;
  cursor: pointer;
  cursor: hand;
}

.ks-List .ks-SinkItem-selected {
  background-color: #C3D9FF;
}

.ks-images-Image {
  margin: 8px;
}

.ks-images-Button {
  margin: 8px;
  cursor: pointer;
  cursor: hand;
}

.ks-layouts {
  margin: 8px;
}

.ks-layouts-Label {
  background-color: #C3D9FF;
  font-weight: bold;
  margin-top: 1em;
  padding: 2px 0px 2px 0px;
  width: 100%;
}

.ks-layouts-Scroller {
  height: 128px;
  border: 2px solid #C3D9FF;
  padding: 8px;
  margin: 8px;
}

.ks-popups-Popup {
  background-color: white;
  border: 1px solid #705132;
  padding: 4px;
  width: 200px;
}

.infoProse {
  margin: 8px;
}

 .gwt-SuggestBox {
 /*  text-align: left;
   width: 180px;
   font-size: smaller; */
}

.gwt-SuggestBoxPopup {
   background-color: #FFFFFF;
   border-top: 0;
   border: 2px solid #ffeec1;
   cursor: pointer;
   cursor: hand;
   text-align: left;
   font-size: smaller;
}

.gwt-SuggestBoxPopup .item {
   padding: 2px;
   font-size: smaller;

}

.gwt-SuggestBoxPopup .item-selected {
   background-color: #ffeec1;
   padding: 2px;
   font-size: smaller;

} 

.flowPanel {
	text-align: left;
	width: 200px;
}

.flowPanel .conceptLink  {
  font-size: smaller;
  width: auto;
  margin: 4px 4px 4px 4px;
}

.flowPanel .conceptLink a {
	text-decoration: none;
	color: #705132;
}

.flowPanel .conceptLink a:visited {
	background-color: #ffeec1;
}

.flowPanel .conceptLink a:hover {
	background-color: #ffeec1;
}

.recommendationLables {
	color: #969696;
	font-size: smaller;
}
.button {
	margin: 4px 0px 8px 8px;
}

.buttonPannel {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #705132;
	color: #FFEEC1;
	margin: 4px 0px 8px 8px;
	border: thin;
	border-left-color: #FFEEC1;
	border-top-color: #FFEEC1;
	border-style: outset;
	cursor:pointer;
}
.buttonPannelOver {
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background-color: #FFEEC1;
	color: #705132;
	margin: 4px 0px 8px 8px;
	border: thin;
	border-left-color:  #705132;
	border-top-color:  #705132;
	border-style: inset;
	cursor: pointer;
}
.flowPanel .conceptLink  {
  font-size: smaller;
  width: auto;
  margin: 4px 4px 4px 4px;
}

.urlLink {
  font-size: smaller;
  width: 250px;
}

.urlLink a {
	text-decoration: none;
	width: 250px;
}
