/* gwt specific styles */
body 
{
  background-color: white;
  color: black;
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
  font-size: smaller;
  margin: 20px 20px 20px 20px;
}

.gwt-Reference-mytheme 
{
  height: 5px;
  width: 5px;
  zoom: 1;
}

.gwt-Button 
{
  margin: 0;
  padding: 3px 5px;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  background: url("images/hborder.png") repeat-x 0px -989px;
  border: 1px outset #ccc;

  :active  {  border: 1px inset #ccc; }	
  :hover {  border-color: #9cf #69e #69e #7af; }
}

.gwt-Button[disabled] 
{
  cursor: default;
  color: #888;
  
  :hover { border: 1px outset #ccc; }
}

.gwt-CheckBox { }

.gwt-CheckBox-disabled { color: #888; }

.gwt-DecoratorPanel 
{
	.topCenter { background: url(images/hborder.png) repeat-x 0px 0px; }
    .bottomCenter { background: url(images/hborder.png) repeat-x 0px -3px; }
 	.middleLeft { background: url(images/vborder.png) repeat-y; width: 5px;  height: 3px; }
    .middleRight { background: url(images/vborder.png) repeat-y -2px 0px; width: 5px; height: 3px;
	
	.topLeftInner,
	.topRightInner,
	.bottomLeftInner,
	.bottomRightInner { width: 5px; height: 5px; zoom: 1; }
	
	.topLeft { background: url(images/corner.png) no-repeat 0px 0px; }
	.topRight { background: url(images/corner.png) no-repeat -5px 0px; }
	.bottomLeft { background: url(images/corner.png) no-repeat 0px -5px; }
	.bottomRight { background: url(images/corner.png) no-repeat -5px -5px; }
	.topLeftInner { width: 5px; height: 5px; overflow: hidden;	}
	.topRightInner { width: 10px; height: 5px; margin-left: -5px; overflow: hidden;	}
	.bottomLeftInner { width: 5px; height: 10px; margin-left: 0px;  margin-top: -5px;   overflow: hidden;	}
	.bottomRightInner { width: 10px;  height: 10px;  margin-left: -5px;  margin-top: -5px; overflow: hidden;	}
}

.gwt-DialogBox 
{
  .Caption 
  {
	  background: #705132 url(images/hborder.png) repeat-x 0px -2034px;
	  padding: 4px 4px 4px 8px;
	  cursor: default;
	  border-bottom: 1px solid #bbbbbb;
	  border-top: 1px solid #705132;
  }

	.dialogContent { }

	.dialogMiddleCenter {  padding: 3px; background: white; }
	.dialogBottomCenter { background: url(images/hborder.png) repeat-x 0px -3px; }
	.dialogMiddleLeft { background: #fff url(images/vborder.png) repeat-y; }
	.dialogMiddleRight { background: #fff url(images/vborder.png) repeat-y -2px 0px; }
	.dialogTopLeftInner { width: 5px; zoom: 1; border-bottom: 1px solid transparent; }
	.dialogTopRightInner { width: 6px; zoom: 1; border-bottom: 1px solid transparent; }
	.dialogBottomLeftInner { width: 5px; height: 8px; zoom: 1; }
	.dialogBottomRightInner { width: 5px; height: 8px; zoom: 1; }
	.dialogTopLeft { background: url(images/corner.png) no-repeat -13px 0px; border-bottom: 1px solid #bbbbbb; }
	.dialogTopRight { background: url(images/corner.png) no-repeat -18px 0px; border-bottom: 1px solid #bbbbbb; }
	.dialogBottomLeft { background: url(images/corner.png) no-repeat 0px -71px; }
	.dialogBottomRight { background: url(images/corner.png) no-repeat -5px -71px; }
	.dialogTopLeft { width: 5px; overflow: hidden; border-bottom: 1px solid #bbbbbb; }
	.dialogTopRight { width: 8px; overflow: hidden; }
	.dialogBottomLeftInner { width: 5px; height: 23px; margin-top: -15px; overflow: hidden; }
	.dialogBottomRightInner { width: 13px; height: 23px; margin-left: -5px; margin-top: -15px; overflow: hidden; }

}

.gwt-DisclosurePanel 
{
	.header, .header a, .header td 
	{
	  text-decoration: none;  /* Remove underline from header */
  	  color: black; 
	  cursor: pointer;
	}
	
	.content 
	{
	  border-left: 2px solid #98795a;
	  padding: 4px 0px 4px 8px;
	  margin-left: 6px;
	}	
}
.gwt-DisclosurePanel-open { }
.gwt-DisclosurePanel-closed { }

.gwt-FileUpload { }

.gwt-Frame 
{
  border-top: 2px solid #666;
  border-left: 2px solid #666;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

.gwt-HorizontalSplitPanel 
{
	.hsplitter {
		 cursor: move;
		  border: 0px; 
		 background: #705132 url(images/vborder.png) repeat-y;
	}	
}
.gwt-VerticalSplitPanel 
{
	.vsplitter {
	  cursor: move;
	  border: 0px; 
	  background: #705132 url(images/hborder.png) repeat-x;
	}
}

.gwt-HTML { }
.gwt-Hyperlink { }
.gwt-Image { }
.gwt-Label { }
.gwt-ListBox { }

.gwt-MenuBar 
{
  cursor: default;
  
  .gwt-MenuItem { cursor: default; }
  
  .gwt-MenuItem-selected { background: #b7a898; }

  .gwt-MenuBar-horizontal 
  {
	  background: #e3e8f3 url(images/hborder.png) repeat-x 0px -2003px;
	  border: 1px solid #BBBBBB;
  
  	  .gwt-MenuItem 
  	  {
		  padding: 0px 10px;
		  vertical-align: bottom;
		  color: #666666;
		  font-weight: bold;
	  }

		.gwt-MenuItemSeparator 
		{
		  width: 1px;
		  padding: 0px;
		  margin: 0px;
		  border: 0px;
		  border-left: 1px solid #888888;
		  background: white;
		  
			.menuSeparatorInner 
			{
			  width: 1px;
			  height: 1px;
			  background: white; 
			}		
		}	
  }
}

.gwt-MenuBar-vertical 
{
  margin-top: 0px;
  margin-left: 0px;
  background: white;

  table { border-collapse: collapse; }
  .gwt-MenuItem { padding: 4px 14px 4px 1px; }
  
   .gwt-MenuItemSeparator
   {
  		padding: 2px 0px;
  		
  		 .menuSeparatorInner 
  		 {
			  height: 1px;
			  padding: 0px;
			  border: 0px;
			  border-top: 1px solid #777777;
			  background: #ddddee;
			  overflow: hidden;
	    }
   }
  .subMenuIcon {  padding-right: 4px; }
  .subMenuIcon-selected { background: #b7a898; }
}

.gwt-MenuBarPopup 
{
  	margin: 0px 0px 0px 3px;

    .menuPopupTopCenter { background: url(images/hborder.png) 0px -12px repeat-x; }
	.menuPopupBottomCenter { background: url(images/hborder.png) 0px -13px repeat-x; }
	.menuPopupMiddleLeft { background: url(images/vborder.png) -12px 0px repeat-y; }
	.menuPopupMiddleRight { background: url(images/vborder.png) -13px 0px repeat-y; }
	.menuPopupTopLeftInner { width: 5px; height: 5px; zoom: 1; }
	.menuPopupTopRightInner { width: 8px; height: 5px; zoom: 1; }
	.menuPopupBottomLeftInner { width: 5px; height: 8px; zoom: 1; }
	.menuPopupBottomRightInner { width: 8px; height: 8px; zoom: 1; }
	.menuPopupTopLeft { background: url(images/corner.png) no-repeat 0px -36px; }
	.menuPopupTopRight { background: url(images/corner.png) no-repeat -5px -36px; }
	.menuPopupBottomLeft { background: url(images/corner.png) no-repeat 0px -41px; }
	.menuPopupBottomRight { background: url(images/corner.png) no-repeat -5px -41px; }
	.menuPopupTopLeftInner { width: 5px; height: 41px; margin-top: -36px; overflow: hidden; }
	.menuPopupTopRightInner { width: 13px; height: 41px; margin-left: -5px; margin-top: -36px; }
	.menuPopupBottomLeftInner { width: 5px; height: 49px; margin-top: -41px; overflow: hidden; }
	.menuPopupBottomRightInner { width: 13px; height: 49px; margin-left: -5px; margin-top: -41px; overflow: hidden; }
}

.gwt-PasswordTextBox { padding: 2px; }
.gwt-PasswordTextBox-readonly { color: #888; }

.gwt-PopupPanel 
{
  border: 1px solid #705132;
  padding: 3px;
  background: white;
}

.gwt-DecoratedPopupPanel 
{
	.popupContent {	}

	.popupMiddleCenter { padding: 3px; background: #705132; }
	.popupTopCenter {  background: white url(images/hborder.png) repeat-x 0px -2027px; }
	.popupBottomCenter { background: url(images/hborder.png) repeat-x 0px -2027px; }
	.popupMiddleLeft { background: url(images/vborder.png) repeat-y -21px 0px; }
	.popupMiddleRight { background: url(images/vborder.png) repeat-y -21px 0px; }
	.popupTopLeftInner { width: 5px; height: 5px; zoom: 1;}
	.popupTopRightInner { width: 8px; height: 5px; zoom: 1; }
	.popupBottomLeftInner { width: 5px; height: 8px; zoom: 1; }
	.popupBottomRightInner { width: 8px; height: 8px; zoom: 1; }
	.popupTopLeft { background: white url(images/corner.png) no-repeat 0px -10px; }
	.popupTopRight { background: white url(images/corner.png) no-repeat -5px -10px; }
	.popupBottomLeft { background: white url(images/corner.png) no-repeat 0px -15px; }
	.popupBottomRight { background: white url(images/corner.png) no-repeat -5px -15px; }
	.popupTopLeftInner { width: 5px; height: 15px; margin-top: -10px; overflow: hidden; }
	.popupTopRightInner { width: 13px; height: 15px; margin-left: -5px; margin-top: -10px; overflow: hidden; }
	.popupBottomLeftInner { width: 5px; height: 23px; margin-top: -15px; overflow: hidden; }
	.popupBottomRightInner { width: 13px; height: 23px; margin-left: -5px; margin-top: -15px; overflow: hidden;	}
}

.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled,
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -989px;
}
.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled {
  padding: 3px 5px 3px 5px;
}
.gwt-PushButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
}
.gwt-PushButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
}
.gwt-PushButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  filter: alpha(opacity=40);
  zoom: 1;
}
.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
  padding: 4px 4px 2px 6px;
}
.gwt-PushButton-down {
  border: 1px inset #666;
  cursor: pointer;
}
.gwt-PushButton-down-hovering {
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
}
.gwt-PushButton-down-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: 0.5;
  filter: alpha(opacity=40);
  zoom: 1;
}

.gwt-RadioButton {
  padding: 4px 4px 3px 3px;
}
.gwt-RadioButton-disabled {
  color: #888;
}

.gwt-RichTextArea {
}
.hasRichTextToolbar {
 border: 0px;
}
.gwt-RichTextToolbar 
{
 background:#705132 url(images/hborder.png) repeat-x 0px -2034px;
 border-bottom: 1px solid #BBBBBB;
 padding: 3px;
 margin: 0px;

	.gwt-PushButton-up {
	  padding: 0px 1px 0px 0px;
	  margin-right: 4px;
	  margin-bottom: 4px;
	  border-width: 1px; 
	}

	.gwt-PushButton-up-hovering {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 1px 0px 0px;
	  border-width: 1px; 
	}

	.gwt-PushButton-down {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 0px 0px 1px;
	  border-width: 1px; 
	}

	.gwt-PushButton-down-hovering {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 0px 0px 1px;
	  border-width: 1px; 
	}

	.gwt-ToggleButton-up {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 1px 0px 0px;
	  border-width: 1px;
	}

	.gwt-ToggleButton-up-hovering {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 1px 0px 0px;
	  border-width: 1px;
	}
	.gwt-ToggleButton-down {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 0px 0px 1px;
	  border-width: 1px;
	}
	.gwt-ToggleButton-down-hovering {
	  margin-right: 4px;
	  margin-bottom: 4px;
	  padding: 0px 0px 0px 1px;
	  border-width: 1px;
	}
}
.gwt-StackPanel {
  	border-bottom: 1px solid #bbbbbb;

	 .gwt-StackPanelItem {
	  cursor: pointer;
	  font-weight: bold;
	  font-size: 1.3em;
	  padding: 3px;
	  border: 1px solid #bbbbbb;
	  border-bottom: 0px;
	  background: #705132 url(images/hborder.png) repeat-x 0px -989px;
	}
	.gwt-StackPanelContent {
	  border: 1px solid #bbbbbb;
	  border-bottom: 0px;
	  background: white;
	  padding: 2px 2px 10px 5px;
	}
 }
 
.gwt-DecoratedStackPanel {
  border-bottom: 1px solid #bbbbbb;
}
.gwt-DecoratedStackPanel .gwt-StackPanelContent {
  border: 1px solid #bbbbbb;
  border-bottom: 0px;
  background: white;
  padding: 2px 2px 10px 5px;
}
.gwt-DecoratedStackPanel .gwt-StackPanelItem {
  cursor: pointer;
}
.gwt-DecoratedStackPanel .stackItemTopLeft,
.gwt-DecoratedStackPanel .stackItemTopRight {
  height: 6px;
  width: 6px;
  zoom: 1;
}
html>body .gwt-DecoratedStackPanel .stackItemTopLeft {
  background: #705132 url(images/corner.png) no-repeat 0px -49px;
  border-left: 1px solid #bbbbbb;
}
html>body .gwt-DecoratedStackPanel .stackItemTopRight {
  background: #705132 url(images/corner.png) no-repeat -6px -49px;
  border-right: 1px solid #bbbbbb;
}
.gwt-DecoratedStackPanel .stackItemTopLeftInner,
.gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 1px;
  height: 1px;
}
* html .gwt-DecoratedStackPanel .stackItemTopLeftInner {
  width: 6px;
  height: 55px;
  margin-top: -49px;
  overflow: hidden;
  border-left: 1px solid #bbbbbb;
  background-color: #705132;
}
* html .gwt-DecoratedStackPanel .stackItemTopRightInner {
  width: 12px;
  height: 55px;
  margin-top: -49px;
  margin-left: -6px;
  overflow: hidden;
  border-right: 1px solid #bbbbbb;
  background-color: #705132;
}
.gwt-DecoratedStackPanel .stackItemTopCenter {
  background: url(images/hborder.png) 0px -21px repeat-x;
}
.gwt-DecoratedStackPanel .stackItemMiddleLeft {
  background: #705132 url(images/hborder.png) repeat-x 0px -989px;
  border-left: 1px solid #bbbbbb;
}
.gwt-DecoratedStackPanel .stackItemMiddleLeftInner,
.gwt-DecoratedStackPanel .stackItemMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedStackPanel .stackItemMiddleRight {
  background: #705132 url(images/hborder.png) repeat-x 0px -989px;
  border-right: 1px solid #bbbbbb;
}
.gwt-DecoratedStackPanel .stackItemMiddleCenter {
  font-weight: bold;
  font-size: 1.3em;
  background: #705132 url(images/hborder.png) repeat-x 0px -989px;
}
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRight,
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeft {
  border: 0px;
  background-color: white;
}
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeft,
html>body .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRight {
  background-color: white;
}
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopRightInner {
  border: 0px;
  background-color: white;
}
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-first .stackItemTopLeftInner {
  padding-left: 1px;
}
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopLeftInner,
* html .gwt-DecoratedStackPanel .gwt-StackPanelItem-below-selected .stackItemTopRightInner {
  background-color: white;
}

.gwt-SuggestBox {
  padding: 2px;
}
.gwt-SuggestBoxPopup {
  margin-left: 3px;
}
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #b7a898;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: #fff url(images/hborder.png) repeat-x;
}
html>body .gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: #fff url(images/hborder.png) repeat-x 0px -3px;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomCenter {
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: #fff url(images/vborder.png) repeat-y;
}
html>body .gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: #fff url(images/vborder.png) repeat-y -3px 0px;
}
* html .gwt-SuggestBoxPopup .suggestPopupMiddleRight {
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;  
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 6px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
html>body .gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: #fff url(images/corner.png) no-repeat 0px -23px;
}
html>body .gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: #fff url(images/corner.png) no-repeat -5px -23px;
}
html>body .gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: #fff url(images/corner.png) no-repeat 0px -28px;
}
html>body .gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: #fff url(images/corner.png) no-repeat -5px -28px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 28px;
  margin-top: -23px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 13px;
  height: 28px;
  margin-left: -5px;
  margin-top: -23px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 36px;
  margin-top: -28px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 13px;
  height: 36px;
  margin-left: -5px;
  margin-top: -28px;
  overflow: hidden;
}

.gwt-TabBar {
}
.gwt-TabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}
.gwt-TabBar .gwt-TabBarRest {
}
.gwt-TabBar .gwt-TabBarItem {
  margin-left: 6px;
  padding: 3px 6px 3px 6px;
  cursor: pointer;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #705132;
}
.gwt-TabBar .gwt-TabBarItem-selected {
  cursor: default;
  background: #2d1709;
}
.gwt-TabBar .gwt-TabBarItem-disabled {
  cursor: default;
  color: #999999;
}
.gwt-TabPanel {
}
.gwt-TabPanelBottom {
  border-color: #2d1709;
  border-style: solid;
  border-width: 2px 1px 1px;
  overflow: hidden;
  padding: 6px;
}

.gwt-DecoratedTabBar {
}
.gwt-DecoratedTabBar .gwt-TabBarFirst {
  width: 5px;  /* first tab distance from the left */
}
.gwt-DecoratedTabBar .gwt-TabBarRest {
}
.gwt-DecoratedTabBar .gwt-TabBarItem {
  border-collapse: collapse;
  margin-left: 6px;
}
.gwt-DecoratedTabBar .tabTopCenter {
  padding: 0px;
  background: #705132;
}
.gwt-DecoratedTabBar .tabTopLeft,
.gwt-DecoratedTabBar .tabTopRight {
  padding: 0px;
  zoom: 1;
}
.gwt-DecoratedTabBar .tabTopLeftInner,
.gwt-DecoratedTabBar .tabTopRightInner {
  width: 6px;
  height: 6px;
}
html>body .gwt-DecoratedTabBar .tabTopLeft {
  background: url(images/corner.png) no-repeat 0px -55px;
}
html>body .gwt-DecoratedTabBar .tabTopRight {
  background: url(images/corner.png) no-repeat -6px -55px;
}
* html .gwt-DecoratedTabBar .tabTopLeftInner {
  width: 5px;
  height: 61px;
  margin-top: -55px;
  overflow: hidden;
}
* html .gwt-DecoratedTabBar .tabTopRightInner {
  width: 12px;
  height: 61px;
  margin-top: -55px;
  margin-left: -6px;
  overflow: hidden;
}
.gwt-DecoratedTabBar .tabMiddleLeft,
.gwt-DecoratedTabBar .tabMiddleRight {
  width: 6px;
  padding: 0px;
  background: #705132;
}
.gwt-DecoratedTabBar .tabMiddleLeftInner,
.gwt-DecoratedTabBar .tabMiddleRightInner {
  width: 1px;
  height: 1px;
}
.gwt-DecoratedTabBar .tabMiddleCenter {
  padding: 0px 4px 2px 4px;
  cursor: hand;
  color: black;
  font-weight: bold;
  text-align: center;
  background: #705132;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
  background: #2d1709;
}
html>body .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
  background-position: 0px -61px;
}
html>body .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
  background-position: -6px -61px;
}
* html .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeftInner {
  width: 5px;
  height: 67px;
  margin-top: -61px;
  overflow: hidden;
}
* html .gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRightInner {
  width: 12px;
  height: 67px;
  margin-top: -61px;
  margin-left: -6px;
  overflow: hidden;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight {
  background: #2d1709;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
  cursor: default;
  background: #2d1709;
}
.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
  cursor: default;
  color: #999999;
}

.gwt-TextArea {
  padding: 2px;
}
.gwt-TextArea-readonly {
  color: #888;
}

.gwt-TextBox {
  padding: 2px;
}
.gwt-TextBox-readonly {
  color: #888;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled,
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  margin: 0;
  text-decoration: none;
  background: url("images/hborder.png") repeat-x 0px -989px;
}
.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled {
  padding: 3px 5px 3px 5px;
}
.gwt-ToggleButton-up {
  border: 1px outset #ccc;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-hovering {
  border: 1px outset;
  border-color: #9cf #69e #69e #7af;
  cursor: pointer;
  cursor: hand;
}
.gwt-ToggleButton-up-disabled {
  border: 1px outset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}
.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
  padding: 4px 4px 2px 6px;
}
.gwt-ToggleButton-down {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: hand;
}
.gwt-ToggleButton-down-hovering {
  background-position: 0 -513px;
  border: 1px inset;
  border-color: #9cf #69e #69e #7af;
  cursor: hand;
}
.gwt-ToggleButton-down-disabled {
  background-position: 0 -513px;
  border: 1px inset #ccc;
  cursor: default;
  opacity: .5;
  zoom: 1;
  filter: alpha(opacity=40);
}

.gwt-Tree 
{
	.gwt-TreeItem {
	  padding: 1px;
	  margin: 0px;
	  white-space: nowrap;
	  cursor: hand;
	}
	.gwt-TreeItem-selected { background: #93c2f1 url(images/hborder.png) repeat-x 0px -1463px; }
}