<jsp:root xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:my="urn:jsptagdir:/WEB-INF/tags">

	<jsp:directive.page language="java"
		contentType="text/html; charset=utf-8" pageEncoding="UTF-8"
		isELIgnored="false" 
		import="de.fzi.ipe.soboleo.beans.ontology.skos.*, 
				de.fzi.ipe.soboleo.beans.ontology.skos.peopletag.*,
				de.fzi.ipe.soboleo.beans.ontology.*"
		/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.1//EN"
		doctype-system="http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd" />

<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta name="gwt:property" content="locale=${userLang}" />
		<link rel='stylesheet' href='${pageContext.request.contextPath}/style/style.css' />
		<link rel='alternate' type='application/atom+xml' href='?format=atom'/>

		<![CDATA[<script src="${pageContext.request.contextPath}/js/prototype.js" type="text/javascript" ></script>]]>
		<![CDATA[<script src="${pageContext.request.contextPath}/js/scriptaculous.js?load=effects,controls" type="text/javascript" ></script>]]>
		<link rel="stylesheet" type="text/css" href="${pageContext.request.contextPath}/css/dstyle.css" />

		<title>SOBOLEO: Ontology &amp; Resource Browser</title>
		<!-- <title>${sessionScope["roots.title"]}</title> -->
		<link rel='stylesheet' href='${pageContext.request.contextPath}/style/browse.css' />
		<link rel='stylesheet' href='${pageContext.request.contextPath}/style/soboleo-base.css' />

		<script type="text/javascript">
		function startDialog(formID) {
		  	document.forms[formID].target.value = window.location;
		  	document.forms[formID].submit();
		}
		</script>
	</head>
	<body>
		<my:pageheader />
		<div id="content">
		<form action="/search" method="POST">
			<div>
				<input style="width: 300px" id="searchEntry" type="text" name="searchEntry" autocomplete="off" />
				<img src="img/ajaxload.gif" alt="" id="loadingImg" />
				<div id="destinationDiv" class="autocomplete"></div>
		
				<input type="hidden" name="searchSite" value="roots"/>
				<input type="submit" value='${sessionScope["home.searchButtonLabel"]}' />
			</div>
		</form>

<script type="text/javascript">//<![CDATA[
new Ajax.Autocompleter('searchEntry','destinationDiv','/autocomplete', {
	indicator: 'loadingImg'
});
//]]></script>

		<table class="layoutTable" width="95%">
			<tr>
				<td colspan="2">
					<div class="conceptNameBox">
						<div class="conceptName">
							<a href="${pageContext.request.contextPath}/taxonomy?format=atom&amp;space=${spaceuri}&amp;lang=${lang.acronym}&amp;key=${user.key}"><img src='${pageContext.request.contextPath }/images/rss.png' /></a>
							${sessionScope["roots.keyTopics"]}
						</div>
					</div>

					<div class="rootConceptLinks">
						<c:forEach var="c" items="${rootconcepts}">
					   		<my:linkConcept concept="${c}" /><br />
					   	</c:forEach>
					</div>
				</td>
			</tr>
			<tr>
				<td width="66%" valign="top">
					<div class="documentsTitle">${sessionScope["doc.newestDocuments"]} </div>
					<div style="text-align:right; margin-right:31px;font-size:small;">
						<my:documentPopup>${sessionScope["roots.addNewDocument"]} 
						<img id="tag" src="${pageContext.request.contextPath}/images/tag4.gif" title='${sessionScope["roots.addNewDocument"]}'/>
						</my:documentPopup>
					</div>
					<!--  <%@include file="../doc.prt"%> -->
				</td>
				<td valign="top">
					<div class="documentsTitle">${sessionScope["doc.interestingPeople"]}</div> 
					<div style="text-align:right; margin-right:31px;font-size:small;"><a href="javascript:W=window.open('${pageContext.request.contextPath}/annotatePeople/annotatePeople.jspx','','width=450,height=560,scrollbars,resizable,menubar=no');W.focus();void 0">${sessionScope["roots.addNewPerson"]} <img id="tag" src="${pageContext.request.contextPath}/images/tag4.gif" title='${sessionScope["roots.addNewPerson"]}' /></a></div>
					<c:forEach var="person" items="${peopleresult}"> 
						<my:peopleResultEntry person="${person}" />
					</c:forEach>
				</td>
			</tr>
		</table>
		</div>
	</body>
</html>
</jsp:root>