<jsp:root xmlns="http://www.w3.org/1999/xhtml"
	xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:my="urn:jsptagdir:/WEB-INF/tags">

	<jsp:directive.page language="java"
		contentType="text/html; charset=utf-8" pageEncoding="UTF-8"
		isELIgnored="false" 
		/>
	<jsp:output doctype-root-element="html"
		doctype-public="-//W3C//DTD XHTML 1.1//EN"
		doctype-system="http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd" />

<html xmlns="http://www.w3.org/1999/xhtml">
	<my:gwt-full module="de.fzi.ipe.soboleo.tagcloud.TagCloud" style="css/tagcloud.css" title="SOBOLEO Analytics">
	
	<form action="/search" method="POST" style="margin-left: auto; margin-right: auto;">
		<div>
			<input style="width: 300px" id="searchEntry" type="text" name="searchEntry" autocomplete="off" />
			<img src="img/ajaxload.gif" alt="" id="loadingImg" />
			<div id="destinationDiv" class="autocomplete"></div>
	
			<input type="hidden" name="searchSite" value="index"/>
			<input type="submit" value='${sessionScope["home.searchButtonLabel"]}' />
		</div>
	</form>

<script type="text/javascript">//<![CDATA[
new Ajax.Autocompleter('searchEntry','destinationDiv','/autocomplete', {
	indicator: 'loadingImg'
});
//]]></script>

	<table class="layoutTable" width="95%"  style="margin-left: auto; margin-right: auto;">
		<tr>
			<td colspan="2">
			</td>
		</tr>
		<tr>
			<td valign="top">
				<div class="conceptNameBox">
					<div class="conceptName">${sessionScope["analytics.title"]}</div>
				</div>
				<div class="documentsTitle">${sessionScope["analytics.requestedConcepts"]}</div>
				<div class="cloud">
					<iframe src="/tagcloudsoboleo.jspx?command=sr&amp;days=100" width="100%" height="200px" frameborder="0" border="0">IFrame search requests</iframe>
				</div>
			</td>
		</tr>
		<tr>
			<td valign="top">
				<div class="documentsTitle">${sessionScope["analytics.usedConcepts"]}</div>
				<div class="cloud">
					<iframe  src="/tagcloudsoboleo.jspx?command=tags" width="100%" height="200px" frameborder="0" border="0">IFrame people annotations</iframe>
				</div>
			</td>
		</tr>
	</table>
</my:gwt-full>
</html>
</jsp:root>
